<% project ||= nil %>
<% like = activity.tag_counts_on(:likeness).count %>
<% important = activity.tag_counts_on(:importantness).count %>
<dt class="<%= 'like' if like > 0 %> <%= 'important' if important > 0 %> <%= activity.event_type %> <%= User.current.logged? && activity.respond_to?(:event_author) && User.current == activity.event_author ? 'me' : nil %>">
  <span class="important_tag"><%= link_to t(:tag_as_important) + " (#{important})", :controller => 'activities', :action => 'important', :id => activity, :type => activity.class.name %></span>
  <span class="like_tag"><%= link_to t(:like) + " (#{like})", :controller => 'activities', :action => 'like', :id => activity, :type => activity.class.name %></span>
  <%= avatar(activity.event_author, :size => "24") if activity.respond_to?(:event_author) %>
  <span class="time"><%= format_time(activity.event_datetime, false) %></span>
  <%= content_tag('span', h(activity.project), :class => 'project') if project.nil? || project != activity.project %>
  <%= link_to format_activity_title(activity.event_title), activity.event_url %>
</dt>
<dd class="<%= 'like' if like > 0 %> <%= 'important' if important > 0 %>">
  <span class="description"><%= format_activity_description(activity.event_description) %></span>
  <span class="author"><%= link_to_user(activity.event_author) if activity.respond_to?(:event_author) %></span>
  <% if activity.respond_to?(:reviews) %>
    <ul class="reviews">
      <% activity.reviews.all.each do |review| %>
        <li><%= review.author.name %>: <%= review.comments %></li>
      <% end %>
    </ul>
    <em><%= link_to_function t(:label_comment_add), "$('review_#{activity.class.name}_#{activity.id}').show(); this.hide();" %></em>
    <div id="review_<%= activity.class.name %>_<%= activity.id %>" style="display: none;">
      <%= form_tag({:controller => 'comments', :action => 'review', :id => activity, :type => activity.class.name}, :id => "add_comment_form") do %>
        <div class="box">
            <%= text_area 'comment', 'comments', :cols => 80, :rows => 5, :class => 'wiki-edit' %>
        </div>
        <p><%= submit_tag l(:button_add) %></p>
      <% end %>
    </div>
  <% end %>
</dd>
